:root {
  --background-color: #f6f5f6;
  --white: #ffffff;
  --dark_blue: #19202d;
  --black: #121212;
  --purple_500: #733fc8;
  --purple_300: #a775f1;
  --purple_50: #ede4ff;
  --grey_500: #48556a;
  --grey_400: #676d7e;
  --grey_300: #a3aab4;
  --grey_200: #cfcfcf;
  --grey_100: #e7eaee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

/* min body height */
body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--background-color);
}

.hidden-title {
  display: none;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.9375rem, 1fr));
  gap: 2rem;
  padding: 4.5625rem 2.1875rem;
}
.testimonials .card {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  position: relative;
  color: var(--white);
  box-shadow: 2.5rem 3.75rem 3.125rem -2.9375rem rgba(72, 85, 106, 0.24);
}
.testimonials .card--daniel {
  background-color: var(--purple_500);
}
.testimonials .card--jonathan {
  background-color: var(--grey_500);
}
.testimonials .card--jeanette {
  background-color: var(--white);
}
.testimonials .card--patrick {
  background-color: var(--dark_blue);
}
.testimonials .card--kira {
  background-color: var(--white);
}
.testimonials .card-shape {
  display: none;
}
.testimonials .card__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.0625rem;
  z-index: 1;
}
.testimonials .card__header .avatar {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  border: 0.125rem solid var(--purple_300);
  overflow: hidden;
}
.testimonials .card__header .avatar img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials .card__header .avatar--jonathan {
  border-color: transparent;
}
.testimonials .card__header .avatar--jeanette {
  border-color: transparent;
}
.testimonials .card__header .avatar--kira {
  border-color: transparent;
}
.testimonials .card__header .info__name {
  font-family: "Barlow Semi Condensed";
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 0.25rem;
}
.testimonials .card__header .info__name--jeanette {
  color: var(--grey_500);
}
.testimonials .card__header .info__name--kira {
  color: var(--grey_500);
}
.testimonials .card__header .info__status {
  font-family: "Barlow Semi Condensed";
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 110%;
  color: var(--purple_50);
}
.testimonials .card__header .info__status--jonathan {
  color: var(--grey_300);
}
.testimonials .card__header .info__status--jeanette {
  color: var(--grey_400);
}
.testimonials .card__header .info__status--kira {
  color: var(--grey_300);
}
.testimonials .card__headline {
  font-family: "Barlow Semi Condensed";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  z-index: 1;
}
.testimonials .card__headline--jeanette {
  color: var(--grey_500);
}
.testimonials .card__headline--patrick {
  color: var(--grey_200);
}
.testimonials .card__headline--kira {
  color: var(--grey_500);
}
.testimonials .card__testimony {
  font-family: "Barlow Semi Condensed";
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 140%;
  color: var(--purple_50);
  z-index: 1;
}
.testimonials .card__testimony--jonathan {
  color: var(--grey_100);
}
.testimonials .card__testimony--jeanette {
  color: var(--grey_400);
}
.testimonials .card__testimony--patrick {
  color: var(--grey_100);
}
.testimonials .card__testimony--kira {
  color: var(--grey_400);
}
@media (width >= 48rem) {
  .testimonials {
    padding: 5.1875rem 3.75rem 7.0625rem;
  }
  .testimonials .card-shape {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 25.8%;
  }
  .testimonials .card--daniel, .testimonials .card--patrick, .testimonials .card--kira {
    grid-column: span 2;
  }
}
@media (width >= 80rem) {
  .testimonials {
    grid-template-columns: repeat(auto-fit, minmax(15.875rem, 1fr));
    max-width: 69.6875rem;
    padding: 0;
    margin: auto;
  }
  .testimonials .card-shape {
    right: 11.1%;
  }
  .testimonials .card--kira {
    grid-area: 1/4/3/5;
  }
}/*# sourceMappingURL=style.css.map */