@use "../helpers" as *;

body {
  background-color: $clr-bg;
}
.hidden-title {
  display: none;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(305), 1fr));
  gap: $spacing-400;
  padding: rem(73) rem(35);

  .card {
    width: 100%;
    padding: $spacing-400;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: $spacing-200;
    border-radius: $spacing-100;
    position: relative;
    color: $clr-white;
    @include dropshadow;

    &--daniel {
      background-color: $clr-purple_500;
    }
    &--jonathan {
      background-color: $clr-grey_500;
    }
    &--jeanette {
      background-color: $clr-white;
    }
    &--patrick {
      background-color: $clr-dark-blue;
    }
    &--kira {
      background-color: $clr-white;
    }

    &-shape {
      display: none;
    }

    &__header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: rem(17);
      z-index: 1;
      .avatar {
        width: rem(28);
        height: rem(28);
        border-radius: 50%;
        border: rem(2) solid $clr-purple_300;
        overflow: hidden;
        img {
          width: 100%;
          object-fit: cover;
        }

        &--jonathan {
          border-color: transparent;
        }
        &--jeanette {
          border-color: transparent;
        }
        &--kira {
          border-color: transparent;
        }
      }
      .info {
        &__name {
          @include text-preset-2;
          margin-bottom: $spacing-50;

          &--jeanette {
            color: $clr-grey_500;
          }
          &--kira {
            color: $clr-grey_500;
          }
        }
        &__status {
          @include text-preset-4;
          color: $clr-purple_50;

          &--jonathan {
            color: $clr-grey_300;
          }
          &--jeanette {
            color: $clr-grey_400;
          }
          &--kira {
            color: $clr-grey_300;
          }
        }
      }
    }
    &__headline {
      @include text-preset-1;
      z-index: 1;
      &--jeanette {
        color: $clr-grey_500;
      }
      &--patrick {
        color: $clr-grey_200;
      }
      &--kira {
        color: $clr-grey_500;
      }
    }
    &__testimony {
      @include text-preset-3;
      color: $clr-purple_50;
      z-index: 1;

      &--jonathan {
        color: $clr-grey_100;
      }
      &--jeanette {
        color: $clr-grey_400;
      }
      &--patrick {
        color: $clr-grey_100;
      }
      &--kira {
        color: $clr-grey_400;
      }
    }
  }

  @include breakpoint("md") {
    padding: rem(83) rem(60) rem(113);
    .card {
      &-shape {
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        right: 25.8%;
      }
      &--daniel,
      &--patrick,
      &--kira {
        grid-column: span 2;
      }
    }
  }
}
