:root {
  // ! COLORS ---------------------------------------------------
  --white: #ffffff;
  --dark_blue: #19202d;
  --black: #121212;

  --purple_500: #733fc8;
  --purple_300: #a775f1;
  --purple_50: #ede4ff;

  --grey_500: #48556a;
  --grey_400: #676d7e;
  --grey_200: #cfcfcf;
  --grey_100: #e7eaee;
}
