@use "./functions" as *;

@use "sass:map";

// ! BREAKPOINTS -----------------------------------
$breakpoints: (
  "md": rem(768),
  "lg": rem(1280),
  "xl": rem(1440),
);

@mixin breakpoint($size) {
  @media (width >= map.get($breakpoints, $size)) {
    @content;
  }
}

// ! FONTS -----------------------------------
@mixin text-preset-1 {
  font-family: "Barlow Semi Condensed";
  font-size: rem(20);
  font-weight: 600;
  line-height: 120%;
}
@mixin text-preset-2 {
  font-family: "Barlow Semi Condensed";
  font-size: rem(13);
  font-weight: 500;
  line-height: 110%;
}
@mixin text-preset-3 {
  font-family: "Barlow Semi Condensed";
  font-size: rem(13);
  font-weight: 500;
  line-height: 140%;
}
@mixin text-preset-4 {
  font-family: "Barlow Semi Condensed";
  font-size: rem(11);
  font-weight: 500;
  line-height: 110%;
}

// ! Effects -----------------------------------
@mixin dropshadow {
  box-shadow: rem(40) rem(60) rem(50) rem(-47) rgb(72, 85, 106, 0.24);
}
